@model IndexViewModel
@{
    ViewData["Title"] = "Actualizati-va datele personale";
}

<h2>@ViewData["Title"].</h2>
<p class="text-success">@ViewData["StatusMessage"]</p>

<div>
    <h4>Schimba datele contului cu care te-ai autentificat</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Parola:</dt>
        <dd>
            @if (Model.HasPassword)
            {
                <a asp-controller="Manage" asp-action="ChangePassword" class="btn-bracketed">Change</a>
            }
            else
            {
                <a asp-controller="Manage" asp-action="SetPassword" class="btn-bracketed">Create</a>
            }
        </dd>

    </dl>
</div>
