@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    KEPLER-ROMINFO<br />
    Bucuresti sec.2<br />
    <abbr title="Phone">P:</abbr>
    021 054 789
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@kepler-rominfo.com">Support@kepler-rominfo.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@kepler-rominfo.com">Marketing@kepler-rominfo.com</a>
</address>
